{% extends "base2.html" %}
{% block title %} Courses {% endblock %}


{% block content %}
<h2>Course Overview</h2>

<div class="row">
    <div class="col-sm-12 col-lg-6">
        <h4> Academic Writing</h4>

        <p> <strong>Course Code: </strong> ENGL125</p>

        <p> <strong> Course Description: </strong></p>
            <p>Academic Writing is a college-level course focused on developing advanced skills
                in scholarly communication. Students learn to compose and articulate well-researched, structured essays while mastering
                academic conventions and citation styles.</p>
        
        <P> <strong>Pre-Requisite(s): </strong> CXC ENGLISH</P>    

    </div>

    <div class="col-sm-12 col-lg-6">
        <h4>Computer Science I</h4>

        <p> <strong>Course Code: </strong> CPTR150</p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Computer Science 1 is an introductory college course providing a foundational understanding of
                key concepts in computing. Students explore programming fundamentals, algorithmic thinking, 
                and problem-solving skills, laying the groundwork for further studies in computer science.
            </p>
        
            <P> <strong>Pre-Requisite(s): </strong> CPTR120 & MATH182 </P>      

    </div>
</div>
<hr>
<br>

<div class="row">
    <div class="col-sm-12 col-lg-6">
        <h4>Philosophy of Service</h4>

        <p> <strong>Course Code: </strong> BHSC100</p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Course Description: The Philosophy of Service course delves into the ethical foundations and 
                conceptual frameworks underpinning the principles of service in various contexts, examining 
                the philosophical dimensions of altruism, social responsibility, and the moral obligations 
                inherent in serving others.
            </p>
        
            <P> <strong>Pre-Requisite(s): </strong> None Needed </P>      
    </div>

    <div class="col-sm-12 col-lg-6">
        <h4>Principles of Macroeconomics</h4>

        <p> <strong>Course Code: </strong> ECON277</p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Course Description: Principles of Macroeconomics explores the fundamental concepts and theories 
                shaping national economies, covering topics such as GDP, unemployment, inflation, and fiscal 
                policy. This course equips students with a comprehensive understanding of macroeconomic principles 
                essential for analyzing and influencing economic systems.

            </p>
        
            <P> <strong>Pre-Requisite(s): </strong> MATH165 </P>    
    </div>
</div>
<hr>
<br>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <h4>Web Development</h4>

        <p> <strong>Course Code: </strong> CPTR331</p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Course Description: Web Development is a comprehensive course that guides students through the 
                principles and practical skills necessary to design, build, and deploy dynamic websites and web 
                applications. Topics include HTML, CSS, JavaScript, and frameworks, empowering learners to create 
                modern and responsive digital experiences.
            </p>
            
            <P> <strong>Pre-Requisite(s): </strong>  CPTR 150</P>      
    </div>

    <div class="col-sm-12 col-lg-6">
        <h4>Computer Science II</h4>

        <p> <strong>Course Code: </strong>CPTR 250 </p>

        <p> <strong> Course Description: </strong></p>
            <p>
               Computer Science II builds upon foundational programming concepts by delving into advanced topics 
               such as data structures, algorithms, and object-oriented programming. Students gain hands-on 
               experience implementing and manipulating complex data structures, while also refining their 
               problem-solving skills through more sophisticated programming assignments

            </p>
        
            <P> <strong>Pre-Requisite(s): </strong>CPTR 150  </P>    
    </div>
</div>

<hr>
<br>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <h4>Calculus I</h4>

        <p> <strong>Course Code: </strong> MATH 141</p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Calculus 1 introduces students to fundamental concepts of differential and integral calculus. 
                The course covers topics such as limits, derivatives, and applications of derivatives in rates 
                of change and optimization. 
            </p>
            
            <P> <strong>Pre-Requisite(s): </strong>  CSEC Math Grade I or GCE Add Math</P>      
    </div>

    <div class="col-sm-12 col-lg-6">
        <h4>Calculus With Applications</h4>

        <p> <strong>Course Code: </strong>MATH 182 </p>

        <p> <strong> Course Description: </strong></p>
            <p>
                Calculus with Applications extends traditional calculus concepts to real-world scenarios, 
                emphasizing practical problem-solving. Topics include the applications of derivatives in 
                modeling rates of change, optimization, and curve sketching, as well as the use of integrals for 
                calculating areas, volumes, and solving problems in physics.

            </p>
        
            <P> <strong>Pre-Requisite(s): </strong>MATH 141 </P>    
    </div>
</div>

{% endblock %}