{% extends "base2.html" %}
{% block title %} Info Page {% endblock %}


{% block content %}
<h2>Basic Appointment Information</h2>
<h3> <u>Staff Contact:</u></h3>
<div class="row" style="text-align: center; margin-top: 1px;">
    <div class="col-sm-12 col-lg-4">
        <h4>Jemma Springer</h4>
        <p> <strong>Email</strong>: jemma@gmail.com</p>
        <p> <strong>Department</strong>:  Finance</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: center;">Renee Smith</h4>
        <p> <strong>Email</strong>: rsmith@gmail.com</p>
        <p> <strong>Department</strong>: Records</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: center;">David Blaine</h4>
        <p> <strong>Email</strong>: dblaine@gmail.com</p>
        <p> <strong>Department</strong>: Academic Affairs</p>
    </div>
</div>

<br>
<div class="row">
    <div class="col-12">
        <h3> <u>Open Office Peroids:</u></h3>
        
        <p>Offices are open for appointments on Mondays - Thursdays, from 10:00 am to 3:00 pm.</p>

        <p>Appointments cannot be set for Fridays - Sundays nor can be set outside of the specified time peroid.</p>
        
        <p>If an appointment is made out side of the available days (Friday - Sunday) a staff member has the right to delete this appointment.</p>
        
        <p>Be aware that appointments cannot be set during the staff's lunch peroid from 12:00 am to 1:00 pm . Thank you.</p>
    </div>
</div>

<br><br>
<div class="row">
    <h3><u>Required Documents</u></h3>
    <p>Below are the basic documents to walk with. If any other documents are required we will inform you.</p>
    <p>Please have any needed documents on you before the appointment time in either a physical or electronic form.</p>


    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Finance</h4>

        <p>-    All payment receipts</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Academic Affairs</h4>

        <p>-    Academic Bulletin</p>
        <p>-    Sequence Sheet</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Records</h4>

        <p>-    Academic Bulletin</p>
        <p>-    Sequence Sheet</p>
    </div>

    
</div>

{% endblock %}