{% extends "base2.html" %}
{% block title %} Info Page {% endblock %}


{% block content %}
<h2>Basic Appointment Information</h2>
<div class="row" style="text-align: center;">
    <div class="col-sm-12 col-lg-4">
        <h4>Jemma Springer</h4>
        <p> <strong>Email</strong>: jemma@gmail.com</p>
        <p> <strong>Department</strong>:  Finance</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: center;">Renee Smith</h4>
        <p> <strong>Email</strong>: rsmith@gmail.com</p>
        <p> <strong>Department</strong>: Records</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: center;">David Blaine</h4>
        <p> <strong>Email</strong>: dblaine@gmail.com</p>
        <p> <strong>Department</strong>: Academic Affairs</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <h3 style="text-align: left;">Available Days</h3>
        
        <p>The days of the offices are open for appointments are Monady to Thursday from 10 AM - 3 PM.</p>
        
        <p>If an appointment is made out side of the available days (Friday - Sunday) a staff member has the right to delete this appointment.</p>
    </div>
</div>
<br><br>
<div class="row">
    <h3 style="text-align: left;">Required Documents</h3>
    <p>Below are the basic documents to walk with. If any other documentsare required we will inform you.</p>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Finance</h4>

        <p>-    All payment receipts</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Academic Affairs</h4>

        <p>-    Academic Bulletin</p>
        <p>-    Sequence Sheet</p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <h4 style="text-align: left;">Records</h4>

        <p>-    Academic Bulletin</p>
        <p>-    Sequence Sheet</p>
    </div>

    
</div>

{% endblock %}